apiVersion: networking.istio.io/v1alpha3
kind: VirtualService
metadata:
  name: vs-{{ openshift.env }}-{{ os_project.fpi_name }}-{{ integration_entry.name }}
spec:
  exportTo:
  - .
  gateways:
  - egress-gateway-{{ openshift.env }}-{{ os_project.fpi_name }}
  - mesh
  hosts:
  - {{ integration_entry.host }}
  http:
  - match:
    - gateways:
      - mesh
      port: 80
    route:
    - destination:
        host: istio-egressgateway-{{ openshift.env }}-{{ os_project.fpi_name }}
        port:
          number: {{ os_project.istio.egress.ott.port if (integration_entry.ott | default(false)) else os_project.istio.egress.mtls.port }}
        subset: {{ integration_entry.name }}
      weight: 100
  - match:
    - gateways:
      - egress-gateway-{{ openshift.env }}-{{ os_project.fpi_name }}
      port: {{ os_project.istio.egress.ott.port if (integration_entry.ott | default(false)) else os_project.istio.egress.mtls.port }}
    route:
    - destination:
        host: {{ integration_entry.host }}
        port:
          number: {{ integration_entry.port }}
      weight: 100
