apiVersion: v1
kind: Service
metadata:
  labels:
    app: istio-egressgateway-{{ openshift.env }}-{{ os_project.fpi_name }}
    chart: gateways
    heritage: Tiller
    istio: egressgateway-{{ openshift.env }}-{{ os_project.fpi_name }}
    release: istio
  name: istio-egressgateway-{{ openshift.env }}-{{ os_project.fpi_name }}
spec:
  ports:
  - name: http-8080
    port: 8080
    protocol: TCP
    targetPort: 8080
    # Порт для траффика без ОТТ
  - name: https-{{ os_project.istio.egress.mtls.port }}
    port: {{ os_project.istio.egress.mtls.port }}
    protocol: TCP
    targetPort: 8443
    # Порт для траффика с ОТТ
  - name: https-{{ os_project.istio.egress.ott.port }}
    port: {{ os_project.istio.egress.ott.port }}
    protocol: TCP
    targetPort: 5443
  selector:
    app: istio-egressgateway-{{ openshift.env }}-{{ os_project.fpi_name }}
    istio: egressgateway-{{ openshift.env }}-{{ os_project.fpi_name }}
    release: istio
  sessionAffinity: None
  type: ClusterIP
